html {
    box-sizing: border-box;
    font: 14px/1.5 Verdana, sans-serif;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media ( min-width: 600px ) {
    html { font-size: 16px; }
}

@media ( min-width: 1024px ) {
    html { font-size: 18px; }
}

@media ( min-width: 1600px ) {
    html { font-size: 20px; }
}

body, table, form, select, input, textarea, option, article, button {
    font: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2.5em;
}

ul ul, ul ol, ol ol, ol, ul {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, serif;
}

.site-title,
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-size: 1em;
    font-weight: normal;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a {
    text-decoration: none;
    color: orangered;
}

blockquote {
    padding: 1rem;
}

blockquote p {
    font-style: italic;
}

blockquote .author {
    opacity: 0.5;
    text-align: right;
}